<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Top Trending Twitter Hashtags</title>
    <script src='static/Chart.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h2>Top Trending Twitter Hashtags</h2>
    <div style="width:100%; height=600px">
        <canvas id="my_chart"></canvas>
    </div>
</body>
<script>
var ctx = document.getElementById("my_chart");
var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: [
            {% for item in labels %}
            "{{item}}",
            {% endfor %}
        ],
        datasets: [{
            label: '# of Mentions',
            data: [{% for item in values %} {{ item }},
                {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                }
            }],
            xAxes: [{
                display: true,
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 10,
                    stepSize: 1
                }
            }],
        }
    }
});
var src_Labels = [];
var src_Data = [];
setInterval(function() {
    $.getJSON('/refreshData', {}, function(data) {
        src_Labels = data.sLabel;
        src_Data = data.sData;
    });
    myChart.data.labels = src_Labels;
    myChart.data.datasets[0].data = src_Data;
    myChart.update();
}, 1000);
</script>

</html>
